
.nav-link
{
    display: flex;
    align-items: center;
}
.container,.container-fluid{
    text-align: center;
}
.hover:hover{
    color:white;
    background-color:black;
    border-radius: 10px;
    box-shadow: 0 0 15px  white;
}
.hover:hover>.fa-solid{
    color: yellow;
}

